#{extends 'main.html' /}
<h1>Müşteriler</h1>
#{form @Musteriler.guncelle()}
	
	<input type="hidden" id="id" name="id" value="${flash.musteriid}"  />
	
	<fieldset class="musteri">
		<legend>Müşteri Bilgileri</legend>
	 	<div>
	      <label for="isim">*İsim</label> <input type="text" id="isim" name="isim" value="${flash.isim}" />
	      <span class="error">#{error 'isim' /}</span>
	    </div>
	    <div>
	      <label for="telefon">Telefon:</label> <input type="text" id="telefon" name="telefon"  value="${flash.telefon}" />
	      <span class="error">#{error 'telefon' /}</span> 
	    </div>
	    <div>
	      <label for="faks">Faks:</label> <input type="text" id="fax" name="fax"  value="${flash.fax}" />
	      <span class="error">#{error 'fax' /}</span> 
	    </div>
	    <div>
	      <label for="adres">Adres:</label> <input type="text" id="adres" name="adres"  value="${flash.adres}" />
	      <span class="error">#{error 'adres' /}</span> 
	    </div>
       <br/>
	  </fieldset>
       <br/>
	    <div>
      		<button type="submit" id="signin">Güncelle</button> 
    	</div>
	    
    
    
#{/form}
